<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        background-color: rgb(235, 231, 223);
    }
    label{
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
    input{
        color: white;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 20%;
    }
    form{
        
        gap: 10px;
    }
    button{
        width: 10%;

    }

</style>

<body>
    <center>
        <form method="post">
            <label for="one">AGE OF THE PERSON</label></br>
            <input type="number" placeholder="Enter age" name="age" id="one" /></br>
            <button>Submit</button>
        </form>
    </center>
</body>

</html>