<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            background-color: cornflowerblue;
        }
        dd{
            color: beige;
        }
    </style>
    
</head>
<body>
    <center>
        <dl>
            <dt>
               <h1> THIS IS THE HEADING PART</h1>
            </dt>
            <dd>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ipsam necessitatibus odio voluptatibus reiciendis unde mollitia impedit voluptates beatae numquam!
            </dd>
        </dl>

        
    </center>
</body>
</html>