<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>WELCOME TO PAYTM PAGE</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita unde eaque id, tempore illum laudantium.
            Minus earum eius ipsum nam.
        </p>


        <form method="post" action="{{url_for('alreadyacc')}}">
            <label>
                <h2> Enter Account-no:</h2>
            </label>
            <input type="number" placeholder="acc.no" name="acc"></br>

            <label>
                <h2> Enter Pin-no:</h2>
            </label>
            <input type="password" placeholder="pin-no." name="pin"></br>

            <button>Submit</button>
        </form>
    </center>


</body>

</html>